@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;
}

.threeImg {
    width: 400px;
}

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px, 1px, 15px, #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px, 1px, 10px, #000;
    padding-bottom: 1rem;
}

.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.fa-compact-disc {
    font-size: 5rem;
    color: #5f616d;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    transition:  1s ease-out;
}

.fa-compact-disc:hover {
    color: black;
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}

.fa-music {
    font-size: 5rem;
    color: #5f616d;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    transition:  0.5s ease-out;
}
.fa-music:hover {
    color: red;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@-webkit-keyframes bell {
    0%, 100% {
        -webkit-transform: translateX(0);
    } 
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    } 
    0%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    } 
}
 
@keyframes bell {
    0%, 100% {
      transform: translateX(0);
    } 
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    } 
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    } 
}

.fa-bell {
    font-size: 5rem;
    color: #5f616d;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transition: 1s ease-out;
    transition:  1s ease-out;
}
.fa-bell:hover {
    color: #ecab16;
    -webkit-animation-name: bell;
    animation-name: bell;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/*---Media Queries --*/
@media (max-width: 1203px) {
    .threeImg {
        width: 180px;
    }
    h2{
        font-size: 26px;
    }
  }
@media (max-width: 768px) {
    
    .threeImg {
        width: 200px;
    }
    
    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    
    .carousel-caption.btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .productImg{
        width: 100%;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }

    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }
    
    .carousel-caption.btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    
    .carouse-indicators {
        display: none;
    }
    
    .display-4 {
        font-size: 160%;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* Contact Form*/

.get-in-touch {
  max-width: 800px;
  margin: 0px auto;
  position: relative;

}

.contact-form .form-field {
  position: relative;
  margin: 20px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #7E7E7E;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#D3D3D3,#7E7E7E);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*Videos*/
video {
    width: 100%;
    height: auto;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
